{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "@babel/stage-0",
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-pipeline-operator",
    ["@babel/plugin-transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
    ["import", {
      "libraryName": "antd",
      "style": "css"
    }],
    ["module-resolver", {
      "root": ["./src/js"],
      "alias": {
        "MasterPage": "./src/js/structure",
        "Actions": "./src/js/actions",
        "Reducers": "./src/js/reducers",
        "RootRoute": "./src/js/routes",
        "Store": "./src/js/store"
      }
    }],
    ["react-css-modules", {
      "context": "./resources",
      "generateScopedName": "[local]-[hash:base64:5]",
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      },
      "webpackHotModuleReloading": true
    }]
  ]
}
