{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["@babel/plugin-proposal-class-properties", {
      "loose": false
    }],
    ["@babel/plugin-proposal-decorators", {
      "legacy": true }
    ],
    "@babel/plugin-proposal-function-bind",
    ["@babel/plugin-proposal-optional-chaining", {
      "loose": false
    }],
    ["@babel/plugin-proposal-pipeline-operator", {
      "proposal": "minimal"
    }],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-runtime", {
      "helpers": false,
      "regenerator": true
    }],
    ["module-resolver", {
      "root": ["./src/js"],
      "alias": {
        "App": "./src/js",
        "Helpers": "./src/js/helpers",
        "Masterpage": "./src/js/masterpage",
        "Modules": "./src/js/modules",
        "Reducers": "./src/js/reducers",
        "Routes": "./src/js/routes",
        "Store": "./src/js/store"
      }
    }],
    ["react-css-modules", {
      "context": "./src",
      "generateScopedName": "[local]-[hash:base64:5]",
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      },
      "webpackHotModuleReloading": true
    }]
  ]
}