//Fonts
@mixin open-sans-light() {
  font-family: $open-sans;
  font-weight: 300;
}

@mixin open-sans-regular() {
  font-family: $open-sans;
  font-weight: 400;
}

@mixin open-sans-semi-bold() {
  font-family: $open-sans;
  font-weight: 600;
}

@mixin open-sans-bold() {
  font-family: $open-sans;
  font-weight: 700;
}

@mixin filter ($effects) {
  -webkit-filter: $effects;
  filter: $effects;
}

@mixin opacity ($opacity: 0.5) {
  -webkit-opacity: $opacity;
  -moz-opacity: $opacity;
  opacity: $opacity;
}

@mixin transition {
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  -ms-transition: 200ms;
  transition: 200ms;
}

@mixin user-select ($value: 'none') {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}