/* Put here your global variables */

$fonts-path: "/fonts/";

/* Colors */
$black1: #495E68;
$black2: #37474F;
$black3: #253035;
$black4: #000000;

$blue1: #33BBFF;
$blue2: #2EA8E6;
$blue3: #2896CC;

$red1: #FF8787;
$red2: #FF6E6E;
$red3: #E66363;

$yellow1: #FFC44C;
$yellow2: #FFBB33;
$yellow3: #E6A82E;

$green1: #BBEE85;
$green2: #A6D476;
$green3: #93BA68;

$dark1: #C0CCDA;
$dark2: #8492A6;
$dark3: #37474F;
$dark4: #2D3B42;
$dark5: #273238;

$light0: #FFF;
$light1: #F9FAFC;
$light2: #EFF2F7;
$light3: #E5E9F2;

/* Font sizes */
$font-size1: 12px;
$font-size2: 14px;
$font-size3: 16px;
$font-size4: 20px;
$font-size5: 26px;
$font-size6: 70px;

/* Transition */
$transition-time: .3s;
$transform: all $transition-time ease;